.content {
    padding: 2em 10em;
}

.content h2 {
    font-family: 'Arvo', serif;
    color: #363636;
    font-weight: 800;
    text-align: left;
    font-size: 1.5em;
}

.content h3 {
    font-family: 'Aveno', serif;
    color: #363636;
    font-weight: 800;
    text-align: left;
    font-size: 1.1em;
}
.content p {
    text-align: left;
    font-family: 'Avenir', serif;
    color: #363636;
    font-weight: 300;
    font-size: 1.0em;
    line-height: 1.25;
}



/* Mobile Design Media Queries */
@media only screen and (max-width: 768px) {
    .content {
        padding: 1em;
    }
    .content p {
        font-size: 1em;
    }

}