@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Avenir");



.App {
  text-align: center;
  height: 100%;
  font-family: 'Arvo', serif;
}