@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Avenir");


html, body {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  height: 100%;
  font-family: 'Arvo', serif;
}