@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Avenir");


html, body {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  height: 100%;
  font-family: 'Arvo', serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}
.full-column {
  float: left;
  width: 100%;
}

.column-twenty {
  float: left;
  width: 20%;
}

.column-eighty {
  float: left;
  width: 80%;
  }



/* Mobile Design Media Queries */
@media only screen and (max-width: 768px) {
  .column {
    float: left;
    width: 100%;
  }
  .column-twenty{
    display: none;
  }
  .column-eighty {
    width: 100%;
    padding: 0;
    }
}