

/* styling for landing page & hero img */
.heroContent {
  background-image: url('../src/images/tech-people.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 65vh;
  padding-top: 64px;
}
.overlay {
  background-color: rgba(44,62,80,0.75);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 65vh;
  padding-top: 64px;
}
.logo {
  position: absolute;
  width:40%;
  height: auto;
  left: 3em;
  margin-top: 3em;
}

.taglineDiv div {
  line-height: 75px;
  letter-spacing: .5px;
  font-weight: bolder;
}

.taglineDiv h2 {
  color:#363636;
  font-family: 'helvetica';
  font-weight: 800;
  font-size: 1.8em;
  padding-left: 1em;
  padding-right: 1em;

}

.tagline p {
  text-align: center;
  color:#363636;
  font-family: 'helvetica';
  font-weight: 800;
  font-size: 1.4em;
  padding-left: 1em;
  padding-right: 1em;
}

.valuesImg {
  width: 90%;
}

.teamMemberImg {
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: auto;
}

.teamMemberDesc {
  padding-top: 2px;
  width: 80%;
}

.list-items {
  text-align: left;
  font-family: 'helvetica';
  color: #363636;
  font-weight: 300;
  font-size: 1.0em;
}

.footer {
  background-color: #363636;
  color: #f8f9fa;
  text-align: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 5em;  
}

.footer p {
  padding-top: 2.7em;
  font-size: .7em;
  padding-left: 2em;
}


/* styling for signUp form - DEPRECATED */
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#first-name, #last-name, #email {
  width: 50%;
} 

/* Mobile Design Media Queries */
@media only screen and (max-width: 768px) {
  .heroContent {
    height: 30vh;
  }
  .overlay {
    height: 30vh
  }
  .logo {
    width:40%;
    height: auto;
  }
  .taglineDiv h2 {
    font-size: 12px;
    line-height: 25px;
  }
  .taglineDiv h2:after {
    margin: 0 auto;
    width: 100px;
  }
}
