/* styling for landing page & hero img */
.heroImg {
  background-image: url('../src/images/heroImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  margin-top: 65px;
}

.logo {
  position: absolute;
  width: 33%;
  height: auto;
  left: 25px;
  top: 10px;
}

.taglineDiv {
  background: #333333;
  color: white;
}

.taglineDiv div {
  line-height: 64px;
  font-size: 20px;
}

.tagline p {
  text-align: center;
}
/* styling for Nav bars */

/* h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
  margin: 0;
  text-align: center;
}
ul.header li a {
  color: #333333;
  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #FE5E31;
  padding: 20px;
  display: inline-block;
}
.active {
  background-color: rgba(219, 5, 112, 0);
} */
.content {
  margin-top: 50px;
  margin-bottom: 50 px;
  background-color: #FFF;
}
/* .content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
} */

/* styling for signUp form */
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#first-name, #last-name, #email {
  width: 50%;
}